body {
    background: radial-gradient(#ff85a2, #7c4dff);
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 50px 0 20px;
}

h6 {
    font-size: 21px;
    text-align: center;
    margin: 5px 0;
    margin-top: 30px;
}

form {
    color: #ff6b8f;
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
    margin-top: 23px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #ff85a2;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 15px;
    font-size: 24px;
    margin-top: 100px;
    cursor: pointer;
    transition: all 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #ff6b8f;
}